.proyects-container{
    display: flex;
    flex-direction: column;
    margin: 1px 120px 80px 120px;
    box-sizing: border-box;
}
    .proyects-tittle-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0px 100px 0px;
    }
        .proyects-tittle-container h1{
            display: flex;
            justify-content: center;
            font-size: 40px;
            letter-spacing: 6.33143px;
        }
        .proyects-tittle-container p{
            display: flex;
            justify-content: center;
        }

/* <---------------------MEDIA QUERY---------------------> */
@media screen and (max-width: 830px) {
    .proyects-container{
        margin: 1px 90px 80px 90px;
    }
}
@media screen and (max-width: 512px) {
    .proyects-container{
        margin: 1px 45px 80px 45px;
    }
}