/* <---------------IMPORT VARIABLES---------------> */
/* <---------------IMPORT COMPONENTS--------------> */
.dropdown-menu {
  position: absolute;
  top: 60px;
  list-style: none;
  text-align: center;
  justify-content: center;
  /* padding-right: 13px; */
  padding: 0px;
  letter-spacing: 4px; }

.dropdown-menu li {
  /* background: #1888ff; */
  cursor: pointer;
  justify-content: center;
  display: flex; }

.dropdown-menu li:hover {
  background: rgba(170, 221, 82, 0.6);
  border-radius: 4px;
  transition: all 0.2s ease-out; }

.dropdown-menu.clicked {
  display: none; }

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #171F07;
  padding: 7px 20.5px 7px 20.5px; }

/* @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  } */
.navBar {
  display: flex;
  position: fixed;
  width: 100%;
  background: transparent; }

.navbar.active {
  background: rgba(204, 235, 151, 0.95);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  position: fixed;
  width: 100%;
  padding-bottom: 23px;
  transition: all 0.2s ease-out; }

.menu-icon {
  display: none; }

.nav-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  list-style: none;
  margin: 30px 30px 0px 0px; }

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 10px;
  font-size: 14px;
  letter-spacing: 6.33143px; }

.nav-links {
  color: #171F07;
  text-decoration: none;
  padding: 0.5rem 1rem; }

.nav-links:hover {
  background: rgba(170, 221, 82, 0.6);
  border-radius: 4px;
  transition: all 0.2s ease-out; }

.fa-bars {
  color: #171F07; }

.nav-links-mobile {
  display: none; }

.fa-caret-down {
  color: #7CB408; }

/* <---------------------MEDIA QUERY---------------------> */
@media screen and (max-width: 830px) {
  .navbar.active {
    background: transparent;
    box-shadow: 0px 0px 0px; }
  .nav-item {
    margin: 0px; }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease; }
  .nav-menu.active {
    padding: 150px 0px 500px 0px;
    margin-top: 60px;
    background: #AADD52;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease; }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%; }
  .nav-links:hover {
    border-radius: 0;
    background: rgba(23, 31, 7, 0.6);
    transition: 600ms; }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 0;
    margin: 15px 15px 0px 0px; }
  .fa-times {
    color: #171F07;
    font-size: 2rem; }
  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem; }
  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms; } }

.aboutMe-container {
  display: flex;
  flex-direction: column;
  margin: 1px 120px 120px 120px;
  box-sizing: border-box; }

.line {
  height: 1px;
  width: 100%;
  background: #426000;
  margin-bottom: 80px; }

.aboutMe-tittle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px; }

.aboutMe-tittle-container h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 6.33143px; }

.aboutMe-tittle-container p {
  display: flex;
  justify-content: center; }

.aboutMe-iconsAttributes-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px; }

.containerIconsAttributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  margin-top: 20px; }

.containerIconsAttributes img {
  height: 80px;
  width: 80px;
  margin-bottom: 13px;
  transition: transform .3s; }

.containerIconsAttributes img:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.containerIconsAttributes h3 {
  font-weight: bold;
  font-size: 29px;
  line-height: 54px; }

.containerIconsAttributes p {
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  margin: 0px 8px 0px 8px;
  text-align: center; }

.line-iconsAttributes {
  height: 170px;
  width: 1px;
  background: #426000;
  margin-top: 20px; }

.aboutMe-attributes-container {
  width: 100%;
  display: flex; }

.attributes-me {
  display: flex;
  flex-direction: column;
  width: 50%; }

.attributes-me h3 {
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 23px;
  line-height: 45px; }

.attributes-me p {
  text-align: justify;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.385714px; }

.line-attributes {
  height: 370px;
  width: 1px;
  background: #426000;
  margin: 0px 20px 0px 20px; }

.attributes-skills {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%; }

.attributes-skills h3 {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 23px;
  line-height: 45px; }

.attributesSkills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
  box-sizing: border-box; }

.percentage {
  font-size: 13px;
  color: #171F07; }

.softSkill {
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 6.33143px;
  color: #171F07;
  margin-left: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.colorOne {
  display: flex;
  width: 80%;
  height: 30px;
  background: #AADD52;
  margin-bottom: 20px; }

.colorTwo {
  display: flex;
  width: 70%;
  height: 30px;
  background: #AADD52;
  margin-bottom: 20px; }

.colorThre {
  display: flex;
  width: 100%;
  height: 30px;
  background: #AADD52;
  margin-bottom: 20px; }

.colorFour {
  display: flex;
  width: 50%;
  height: 30px;
  background: #AADD52;
  margin-bottom: 20px; }

.colorFive {
  display: flex;
  width: 90%;
  height: 30px;
  background: #AADD52;
  margin-bottom: 20px; }

/* <---------------------MEDIA QUERY---------------------> */
@media screen and (max-width: 950px) {
  .aboutMe-attributes-container {
    flex-direction: column; }
  .line-attributes {
    height: 1px;
    width: 100%;
    margin: 30px 0px 20px 0px; }
  .attributes-me, .attributes-skills {
    width: 100%; }
  .attributes-skills h3 {
    justify-content: flex-start;
    margin-top: 10px; } }

@media screen and (max-width: 830px) {
  .aboutMe-container {
    display: flex;
    flex-direction: column;
    margin: 1px 90px 80px 90px;
    box-sizing: border-box; } }

@media screen and (max-width: 722px) {
  .containerIconsAttributes {
    width: 140px; }
  .line-iconsAttributes {
    height: 200px; } }

@media screen and (max-width: 603px) {
  .containerIconsAttributes {
    width: 110px; } }

@media screen and (max-width: 512px) {
  .aboutMe-container {
    margin: 1px 45px 80px 45px; } }

.containerName-welcome {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 150px 120px 0px 120px;
  box-sizing: border-box; }

.nameAndLastname {
  display: flex;
  flex-direction: column;
  width: 50%; }

.verticalLine {
  width: 1px;
  height: 238px;
  background: #426000;
  margin: 0px 40px 0px 40px; }

.nameAndLastname h1 {
  font-size: 14vw;
  display: flex;
  margin-top: -30px; }

.nameAndLastname h3 {
  font-size: 8vw;
  font-style: normal;
  display: flex; }

.description-Welcome {
  margin-top: 20px;
  width: 45%;
  text-align: justify; }

/* <---------------------MEDIA QUERY---------------------> */
@media all and (max-width: 830px) {
  .containerName-welcome {
    flex-direction: column;
    margin: 150px 80px 0px 80px; }
  .verticalLine {
    width: 100%;
    height: 1px; }
  .nameAndLastname {
    width: 100%;
    display: flex;
    align-items: center; }
  .nameAndLastname h3 {
    font-size: 16vw; }
  .nameAndLastname h1 {
    font-size: 30vw; }
  .description-Welcome {
    width: 100%; } }

@media screen and (max-width: 512px) {
  .containerName-welcome {
    margin: 150px 45px 0px 45px; } }

@media all and (max-width: 470px) {
  .nameAndLastname h1 {
    font-size: 125px;
    margin-top: -25px; }
  .nameAndLastname h3 {
    font-size: 66px;
    justify-content: center; } }

.proyects-container {
  display: flex;
  flex-direction: column;
  margin: 1px 120px 80px 120px;
  box-sizing: border-box; }

.proyects-tittle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0px 100px 0px; }

.proyects-tittle-container h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 6.33143px; }

.proyects-tittle-container p {
  display: flex;
  justify-content: center; }

/* <---------------------MEDIA QUERY---------------------> */
@media screen and (max-width: 830px) {
  .proyects-container {
    margin: 1px 90px 80px 90px; } }

@media screen and (max-width: 512px) {
  .proyects-container {
    margin: 1px 45px 80px 45px; } }

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: #171F07; }

body {
  background: #F5F6E7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.container-welcome {
  padding-top: 50px;
  background-image: url("./Imgs/fondo1.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  max-height: 700px; }

.proyects-background {
  background-image: url("./Imgs/fondo2.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
  max-height: 800px; }

#root {
  min-width: 440px; }
